<!DOCTYPE html>
<html lang="lt">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <meta name="google-site-verification" content="_05isQpTPAAEN8F-ZGLR5NUatEDQimGdux0-iQmM5xs" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        font-family: sans-serif;
        max-width: 720px;
        margin: 2em auto;
        line-height: 1.6;
        padding: 0 1em;
      }
      img {
        float: right;
        border-radius: 8px;
        margin-bottom: 1.5em;
      }
      figcaption {
        text-align: center;
        font-style: italic;
        font-size: 0.9em;
      }
      h2 {
        margin-top: 2em;
      }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
